.elementor-101 .elementor-element.elementor-element-c5a4b67{background-image:url("http://shophousekhaisontown.vn/wp-content/uploads/2018/10/adf820bd-37ab-43b9-b689-c249f87dcca4.png");background-position:center center;background-repeat:no-repeat;background-size:cover;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-101 .elementor-element.elementor-element-c5a4b67 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-101 .elementor-element.elementor-element-719a3cc .elementor-spacer-inner{height:10px;}.elementor-101 .elementor-element.elementor-element-5ca51bc .elementor-text-editor{text-align:justify;}.elementor-101 .elementor-element.elementor-element-5b55c97 .elementor-text-editor{text-align:justify;}@media(min-width:768px){.elementor-101 .elementor-element.elementor-element-7409fb4{width:31.111%;}.elementor-101 .elementor-element.elementor-element-9916dd5{width:68.889%;}}/* Start custom CSS for text-editor, class: .elementor-element-5ca51bc */ul {
    padding: 0 !important;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-5b55c97 */ul {
    padding: 0 !important;
}/* End custom CSS */