.elementor-70 .elementor-element.elementor-element-303b175{background-color:#f7f7f7;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-70 .elementor-element.elementor-element-303b175 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-70 .elementor-element.elementor-element-aa74513 .elementor-spacer-inner{height:20px;}.elementor-70 .elementor-element.elementor-element-056284d .elementor-text-editor{text-align:center;}.elementor-70 .elementor-element.elementor-element-3b71d39 .elementor-text-editor{text-align:center;}/* Start custom CSS for text-editor, class: .elementor-element-44e312e */table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
}/* End custom CSS */