.elementor-108 .elementor-element.elementor-element-10bc66c > .elementor-container{min-height:500px;}.elementor-108 .elementor-element.elementor-element-10bc66c > .elementor-container:after{content:"";min-height:inherit;}.elementor-108 .elementor-element.elementor-element-10bc66c{background-image:url("http://shophousekhaisontown.vn/wp-content/uploads/2018/10/6e92f1fc-e962-44fa-9cb1-997e1752c2b5.png");background-position:center left;background-repeat:no-repeat;background-size:cover;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-108 .elementor-element.elementor-element-10bc66c > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-108 .elementor-element.elementor-element-de07185 .elementor-field-group{padding-right:calc( 10px/2 );padding-left:calc( 10px/2 );margin-bottom:10px;}.elementor-108 .elementor-element.elementor-element-de07185 .elementor-form-fields-wrapper{margin-left:calc( -10px/2 );margin-right:calc( -10px/2 );margin-bottom:-10px;}body.rtl .elementor-108 .elementor-element.elementor-element-de07185 .elementor-labels-inline .elementor-field-group > label{padding-left:0px;}body:not(.rtl) .elementor-108 .elementor-element.elementor-element-de07185 .elementor-labels-inline .elementor-field-group > label{padding-right:0px;}body .elementor-108 .elementor-element.elementor-element-de07185 .elementor-labels-above .elementor-field-group > label{padding-bottom:0px;}.elementor-108 .elementor-element.elementor-element-de07185 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#ffffff;}.elementor-108 .elementor-element.elementor-element-de07185 .elementor-field-group .elementor-select-wrapper select{background-color:#ffffff;}.elementor-108 .elementor-element.elementor-element-de07185 .elementor-button{background-color:#ff0000;border-radius:5px 5px 5px 5px;}.elementor-108 .elementor-element.elementor-element-aa35d60 a.elementor-button, .elementor-108 .elementor-element.elementor-element-aa35d60 .elementor-button{color:#ffffff;background-color:#ff0000;border-radius:50px 50px 50px 50px;}.elementor-108 .elementor-element.elementor-element-aa35d60 .elementor-button{border-style:solid;border-width:5px 5px 5px 5px;border-color:#ff0000;}.elementor-108 .elementor-element.elementor-element-372dd2c a.elementor-button, .elementor-108 .elementor-element.elementor-element-372dd2c .elementor-button{color:#ffffff;background-color:#ff0000;border-radius:15px 15px 15px 15px;}/* Start custom CSS for button, class: .elementor-element-aa35d60 */.fa-phone {
    transform: rotate(90deg);
}
.elementor-108 .elementor-element.elementor-element-aa35d60 {
    position: fixed;
    bottom: 20px;
    left: 20px;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-372dd2c */.elementor-108 .elementor-element.elementor-element-372dd2c {
    position: fixed;
    right: 20px;
    bottom: 20px;
}/* End custom CSS */